.tiptap.ProseMirror .node-tocNode.ProseMirror-selectednode {
  border-radius: var(--tt-radius-md);
  background-color: var(--tt-selection-color);
}
.tiptap.ProseMirror a.tiptap-table-of-contents-item {
  color: var(--tt-toc-node-text-color);
  -webkit-text-decoration: underline var(--tt-toc-node-underline-color);
  text-decoration: underline var(--tt-toc-node-underline-color);
  text-underline-offset: 4px;
}
.tiptap-table-of-contents-node {
  --toc-indent: 1.5rem;
  --toc-depth-factor: 1;
  --tt-toc-node-text-color: var(--tt-gray-light-a-600);
  --tt-toc-node-text-hover-color: var(--tt-gray-light-a-800);
  --tt-toc-node-bg-hover-color: var(--tt-gray-light-a-100);
  --tt-toc-node-underline-color: var(--tt-gray-light-a-300);
  --tt-toc-node-underline-hover-color: var(--tt-gray-light-a-400);
  margin: 1.5rem 0;
}
.dark .tiptap-table-of-contents-node {
  --tt-toc-node-text-color: var(--tt-gray-dark-a-600);
  --tt-toc-node-text-hover-color: var(--tt-gray-dark-a-800);
  --tt-toc-node-bg-hover-color: var(--tt-gray-dark-a-100);
  --tt-toc-node-underline-color: var(--tt-gray-dark-a-300);
  --tt-toc-node-underline-hover-color: var(--tt-gray-dark-a-400);
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-empty {
  text-align: center;
  color: var(--tt-toc-node-text-color);
  padding: 1rem;
  font-size: 0.875rem;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-title {
  color: var(--tt-toc-node-text-hover-color);
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-list {
  margin: 0;
  padding: 0;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item {
  border-radius: var(--tt-radius-xs);
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 1.875rem;
  align-items: center;
  padding-inline-start: calc(
    var(--toc-indent) * (var(--toc-depth, 1) - 1) * var(--toc-depth-factor)
  );
  font-size: 0.875rem;
  font-weight: 400;
  display: flex;
  overflow: hidden;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item:hover {
  background-color: var(--tt-toc-node-bg-hover-color);
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item[data-depth='1'] {
  --toc-depth: 1;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item[data-depth='2'] {
  --toc-depth: 2;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item[data-depth='3'] {
  --toc-depth: 3;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item[data-depth='4'] {
  --toc-depth: 4;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item[data-depth='5'] {
  --toc-depth: 5;
}
.tiptap-table-of-contents-node .tiptap-table-of-contents-item[data-depth='6'] {
  --toc-depth: 6;
}
.tiptap-table-of-contents-node.toc--dense {
  --toc-depth-factor: 0.75;
}
.tiptap-table-of-contents-node.toc--loose {
  --toc-depth-factor: 1.25;
}
.toc-sidebar {
  --tt-toc-sidebar-line-bg: var(--tt-gray-light-200);
  --tt-toc-sidebar-line-bg-active: var(--tt-gray-light-900);
  --tt-toc-sidebar-bg: var(--white);
  --tt-toc-sidebar-border-color: var(--tt-gray-light-a-100);
  --tt-toc-sidebar-text-color: var(--tt-gray-light-a-600);
  --tt-toc-sidebar-text-hover-color: var(--tt-gray-light-a-800);
  --tt-toc-sidebar-bg-hover-color: var(--tt-gray-light-a-100);
  --tt-toc-sidebar-text-active-color: var(--tt-brand-color-500);
  --toc-indent: 0.75rem;
  --toc-depth-factor: 1;
  --toc-progress-indent: 0.25rem;
  --toc-progress-width-base: 1rem;
  --toc-progress-width-min: 0.25rem;
}
.dark .toc-sidebar {
  --tt-toc-sidebar-line-bg: var(--tt-gray-dark-200);
  --tt-toc-sidebar-line-bg-active: var(--tt-gray-dark-900);
  --tt-toc-sidebar-bg: var(--tt-gray-dark-200);
  --tt-toc-sidebar-border-color: var(--tt-gray-dark-a-100);
  --tt-toc-sidebar-text-color: var(--tt-gray-dark-a-600);
  --tt-toc-sidebar-text-hover-color: var(--tt-gray-dark-a-800);
  --tt-toc-sidebar-bg-hover-color: var(--tt-gray-dark-a-100);
  --tt-toc-sidebar-text-active-color: var(--tt-brand-color-400);
}
.toc-sidebar {
  z-index: 80;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
  flex-direction: column;
  grid-area: 1 / content-end/-1/full-end;
  width: 100%;
  padding-inline-start: 0;
  transition: opacity 0.2s;
  display: flex;
  position: relative;
}
.toc-sidebar-wrapper {
  opacity: 1;
  pointer-events: auto;
  flex-direction: row;
  margin-left: auto;
  transition: opacity 0.2s;
  display: flex;
  position: sticky;
  top: 130px;
}
.toc-sidebar-inner {
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.625rem;
  padding-bottom: 0.75rem;
  padding-right: 0.5rem;
  display: flex;
  position: relative;
}
.toc-sidebar-progress {
  flex-direction: column;
  row-gap: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  display: flex;
}
.toc-sidebar-progress-line {
  background-color: var(--tt-toc-sidebar-line-bg);
  height: 0.125rem;
  margin-left: calc(
    var(--toc-progress-indent) * (var(--toc-depth, 1) - 1) * var(--toc-depth-factor)
  );
  width: max(
    var(--toc-progress-width-min),
    var(--toc-progress-width-base) - var(--toc-progress-indent) * (var(--toc-depth, 1) - 1)
  );
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}
.toc-sidebar-progress-line--active {
  background-color: var(--tt-toc-sidebar-line-bg-active);
}
.toc-sidebar-progress-line[data-depth='1'] {
  --toc-depth: 1;
}
.toc-sidebar-progress-line[data-depth='2'] {
  --toc-depth: 2;
}
.toc-sidebar-progress-line[data-depth='3'] {
  --toc-depth: 3;
}
.toc-sidebar-progress-line[data-depth='4'] {
  --toc-depth: 4;
}
.toc-sidebar-progress-line[data-depth='5'] {
  --toc-depth: 5;
}
.toc-sidebar-progress-line[data-depth='6'] {
  --toc-depth: 6;
}
.toc-sidebar-nav {
  pointer-events: none;
  opacity: 0;
  padding-inline: 0.625rem;
  transition:
    transform 0.3s,
    opacity 0.3s;
  display: flex;
  position: absolute;
  top: -0.625rem;
  right: 0;
  transform: translate(10px);
}
.toc-sidebar-nav--hidden {
  display: none;
}
.toc-sidebar-popover {
  --padding: 0.75rem;
  --border-width: 1px;
  background-color: var(--tt-toc-sidebar-bg);
  border-radius: calc(var(--padding) + var(--tt-radius-md));
  border: 1px solid var(--tt-toc-sidebar-border-color);
  box-shadow: var(--tt-shadow-elevated-md);
  width: 100%;
  max-height: 24rem;
  padding: var(--padding);
  flex-grow: 1;
  margin-right: -0.625rem;
  scroll-margin: 0.25rem;
  overflow: auto;
}
.toc-sidebar-item {
  min-height: 1.5rem;
  color: var(--tt-toc-sidebar-text-color);
  border-radius: var(--tt-radius-xs);
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  align-items: center;
  margin-inline-start: calc(
    var(--toc-indent) * (var(--toc-depth, 1) - 1) * var(--toc-depth-factor)
  );
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  transition: all 0.15s;
  display: flex;
  overflow: hidden;
}
.toc-sidebar-item:hover {
  background-color: var(--tt-toc-sidebar-bg-hover-color);
}
.toc-sidebar-item:hover:not(.toc-sidebar-item--active) {
  color: var(--tt-toc-sidebar-text-hover-color);
}
.toc-sidebar-item--active {
  color: var(--tt-toc-sidebar-text-active-color);
  font-weight: 500;
}
.toc-sidebar-item[data-depth='1'] {
  --toc-depth: 1;
}
.toc-sidebar-item[data-depth='2'] {
  --toc-depth: 2;
}
.toc-sidebar-item[data-depth='3'] {
  --toc-depth: 3;
}
.toc-sidebar-item[data-depth='4'] {
  --toc-depth: 4;
}
.toc-sidebar-item[data-depth='5'] {
  --toc-depth: 5;
}
.toc-sidebar-item[data-depth='6'] {
  --toc-depth: 6;
}
.toc-sidebar.toc-sidebar--dense {
  --toc-depth-factor: 0.75;
}
.toc-sidebar.toc-sidebar--loose {
  --toc-depth-factor: 1.25;
}
@media (hover: hover) {
  .toc-sidebar-wrapper:hover .toc-sidebar-nav {
    pointer-events: auto;
    opacity: 1;
    transform: translate(0);
  }
}
@media (hover: none) {
  .toc-sidebar-nav {
    pointer-events: auto;
    opacity: 1;
    transform: translate(0);
  }
}
@media screen and (max-width: 768px) {
  .toc-sidebar {
    display: none;
  }
}
